@model TravelTripProje.Models.Sınıflar.iletisim
@{
    ViewBag.Title = "MesajGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Mesaj Görüntüleme</h2>

<br />
@using (Html.BeginForm("Index", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.AdSoyad)
    @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.Konu)
    @Html.TextBoxFor(x => x.Konu, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <br />
    @Html.LabelFor(x => x.Mesaj)
    @Html.TextAreaFor(x => x.Mesaj, 10, 1, new { @class = "form-control", @readonly = "readonly" })
    <br />
    <a href = "/Admin/MesajListesi/" class="btn btn-warning">Geri Dön</a>
}